<% @articles.each do |article| %>
    <h1>
      <%= link_to article.title, article, class: 'fa fa-pencil-square-o' %>
    </h1>
    <div>
      <%= link_to '', article, method: 'delete', class: 'fa fa-trash' %>
      <%= article.body %>
    </div>
<% end %>